In [1]:
import camelot
import matplotlib.pyplot as plt
import pandas as pd
import re
import datetime
import PyPDF2

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
filename="A:/Github Repos/UPS-project/SamplePDFs/2102 Lines.pdf"

In [4]:
pdf=open(filename,'rb')
lastpage=PyPDF2.PdfFileReader(pdf).getNumPages()
startpage=2
pgrange=str(startpage)+'-'+str(lastpage)
pdf.close()

In [5]:
tables_stream=camelot.read_pdf(filename,flavor='stream',pages=pgrange,table_areas=['79.6,468,779.7,384.8','42.4,466,80.5,314.5','79.6,313,779.7,230.98','79.6,384.8,779.7,314.0','79.6,230.98,779.7,159.0','42.4,314,80.5,159.0'],columns=['104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','42.4','104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','42.4'],strip_text='--\n')

KeyboardInterrupt:

In [ ]:
tables_stream[0].df

                               0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Comment: RESERVE RECOVERY LINE
1                             Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
2                              24   25   26   27   28   29   30   31    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20
3                              RB   RB   RB   RB   RB   RB   RB                                      RB   RB   RB   RB   RB   RB   RB

In [ ]:
tables_stream[0].df

                               0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Comment: RESERVE RECOVERY LINE
1                             Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
2                              24   25   26   27   28   29   30   31    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20
3                              RB   RB   RB   RB   RB   RB   RB                                      RB   RB   RB   RB   RB   RB   RB

In [ ]:
tables_stream[0].df

                               0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Comment: RESERVE RECOVERY LINE
1                             Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
2                              24   25   26   27   28   29   30   31    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20
3                              RB   RB   RB   RB   RB   RB   RB                                      RB   RB   RB   RB   RB   RB   RB

In [ ]:
tables_stream[0].df

                               0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Comment: RESERVE RECOVERY LINE
1                             Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
2                              24   25   26   27   28   29   30   31    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20
3                              RB   RB   RB   RB   RB   RB   RB                                      RB   RB   RB   RB   RB   RB   RB

In [ ]:
tables_stream[1].df

  0            1
0       SDF  157
1         0/2/0/
2    PP1  (2102)
3       CT: 0:00
4       BT: 0:00
5         DD: 14
6    PP2  (2103)
7       CT: 0:00
8       BT: 0:00
9          DD: 7

In [ ]:
tables_stream[2].df

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
1   21   22   23   24   25   26   27   28    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20
2        RB   RB   RB   RB   RB   RB   RB

In [ ]:
tables_stream[3].df

         0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Comment:
1       Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
2        24   25   26   27   28   29   30   31    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20
3        RB   RB   RB   RB   RB   RB   RB   RB   RB   RB                                                                         RB   RB   RB   RB

In [ ]:
tables_stream[4].df

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
1   21   22   23   24   25   26   27   28    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20
2   RB   RB   RB   RB   RB   RB   RB   RB   RB   RB                                                                         RB   RB   RB   RB

In [ ]:
tables_stream[5].df

    0            1
0         SDF  158
1           1/1/0/
2      PP1  (2102)
3         CT: 0:00
4         BT: 0:00
5           DD: 14
6  RB  PP2  (2103)
7         CT: 0:00
8         BT: 0:00
9           DD: 14