In [1]:
import camelot
import matplotlib.pyplot as plt
import pandas as pd
import re
import datetime
import PyPDF2

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
filename="A:/Jerome/Python Project/SamplePDFs/2102 Lines.pdf"

In [4]:
pdf=open(filename,'rb')
lastpage=PyPDF2.PdfFileReader(pdf).getNumPages()
startpage=2
pgrange=str(startpage)+'-'+str(lastpage)
pdf.close()

In [5]:
pgrange='4'

In [6]:
tables=camelot.read_pdf(filename,flavor='stream',pages=pgrange,table_regions=['79.6,468,779.7,384.8','42.4,466,80.5,314.5','79.6,313,779.7,230.98','79.6,384.8,779.7,314.0','79.6,230.98,779.7,159.0','42.4,314,80.5,159.0'],columns=['104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','42.4','104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','104.6,128.8,152.9,177.1,201.2,225,249.5,273.4,297.6,321.6,345.6,369.8,393.9,418.2,442.1,466.4,490.4,514.3,538.6,562.7,586.8,611,635,659.1,683.4,707.3,731.3','42.4'],strip_text='--\n')

In [ ]:
dflist1=[]
dflist2=[]

In [ ]:
i=0

In [7]:
len(tables)

88

In [ ]:
for i in range(0,int(len(tables)),6):
        
        no_com_table=tables[i].df.loc[1:].reset_index(drop=True)
        
        if no_com_table.iloc[0,0] in ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"] and tables[i+2].df.iloc[0,0] in ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]:
            df=pd.concat([tables[i].df.loc[1:].reset_index(drop=True),tables[i+2].df],axis=1)
            dflist1.append(df)
            try:
                df=pd.concat([tables[i+3].df.loc[1:].reset_index(drop=True),tables[i+4].df],axis=1)
                dflist1.append(df)
            except:
                break

In [ ]:
dflist1[0]

    0    1     2     3     4    5    6    7    8    9     10    11   12   13   14   15    16    17    18    19   20   21   22    23    24    25   26   27   0    1     2     3     4    5    6    7    8     9     10    11   12   13   14   15   16   17    18   19   20   21   22    23    24    25    26    27
0  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon  Tue   Wed   Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon  Tue  Wed   Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri   Sat
1   21   22    23    24    25   26   27   28   29   30    31     1    2    3    4    5     6     7     8     9   10   11   12    13    14    15   16   17   18   19    20    21    22   23   24   25   26    27    28    29   30    1    2    3    4    5     6    7    8    9   10    11    12    13    14    15
2               7     7    14                              8     8                         8     8     8    34                    8     8     8                        22     8     8                         8     8     8                                   9                         9     9     9    34    46
3            0651  0651  0658                           0651  0651                      0651  0651  0651  0629                 0651  0651  0651                      0726  0651  0651                      0651  0651  0651                                0651                      0651  0651  0651  0629  0840
4            6:00  6:00  6:00                           6:00  6:00                      6:00  6:00  6:00  6:00                 6:00  6:00  6:00                      6:00  6:00  6:00                      6:00  6:00  6:00                                6:00                      6:00  6:00  6:00  6:00  6:00

In [ ]:
dflist1[1]

    0    1     2     3     4     5     6    7    8    9    10   11   12   13   14   15    16    17    18   19   20   21   22    23    24    25    26   27   0    1    2    3    4    5    6    7    8     9     10    11    12   13   14   15   16    17    18    19   20   21   22    23    24    25    26   27
0  Sun  Mon   Tue   Wed   Thu   Fri   Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat  Sun  Mon  Tue   Wed   Thu   Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat
1   21   22    23    24    25    26    27   28   29   30   31    1    2    3    4    5     6     7     8    9   10   11   12    13    14    15    16   17   18   19   20   21   22   23   24   25   26    27    28    29    30    1    2    3    4     5     6     7    8    9   10    11    12    13    14   15
2               4     4     4     4    31                                                  5     5     5                         5     5     5    65                                                       5     5     5     5                        49     3    65                    6     6     6     6
3            0613  0613  0613  0613  0827                                               0613  0613  0613                      0613  0613  0613  0706                                                    0613  0613  0613  0613                      0649  0613  0706                 0613  0613  0613  0613
4            6:00  6:00  6:00  6:00  6:00                                               6:00  6:00  6:00                      6:00  6:00  6:00  6:17                                                    6:00  6:00  6:00  6:00                      6:00  6:00  6:17                 6:00  6:00  6:00  6:00

In [ ]:
dflist1[2]

    0    1     2     3     4     5     6    7    8    9     10    11    12    13   14   15    16    17    18   19   20   21   22   23   24   25   26   27   0    1     2     3     4     5    6    7    8     9     10    11    12    13   14   15   16    17    18   19   20   21   22   23   24   25   26   27
0  Sun  Mon   Tue   Wed   Thu   Fri   Sat  Sun  Mon  Tue   Wed   Thu   Fri   Sat  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri   Sat  Sun  Mon  Tue   Wed   Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
1   21   22    23    24    25    26    27   28   29   30    31     1     2     3    4    5     6     7     8    9   10   11   12   13   14   15   16   17   18   19    20    21    22    23   24   25   26    27    28    29    30     1    2    3    4     5     6    7    8    9   10   11   12   13   14   15
2               1     1     1    65    30                    2     2    65    67              21     2     2                                                            2     2     2     5                    2     2     2    34    75                   23    23
3            0613  0613  0613  0706  0748                 0613  0613  0706  0752            0726  0613  0613                                                         0613  0613  0613  0613                 0613  0613  0613  0629  0827                 0726  0726
4            6:00  6:00  6:00  6:17  6:00                 6:00  6:00  6:17  6:18            6:00  6:00  6:00                                                         6:00  6:00  6:00  6:00                 6:00  6:00  6:00  6:00  6:42                 6:00  6:00

In [ ]:
dflist1[3]

    0    1     2     3     4    5    6    7    8    9     10    11    12   13   14   15   16   17   18   19   20   21   22    23    24    25    26    27   0    1    2     3    4    5    6    7    8     9     10    11    12   13   14   15   16   17   18    19    20   21   22    23    24    25    26    27
0  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon  Tue   Wed   Thu   Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri   Sat  Sun  Mon  Tue   Wed  Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat  Sun  Mon  Tue  Wed  Thu   Fri   Sat  Sun  Mon   Tue   Wed   Thu   Fri   Sat
1   21   22    23    24    25   26   27   28   29   30    31     1     2    3    4    5    6    7    8    9   10   11   12    13    14    15    16    17   18   19   20    21   22   23   24   25   26    27    28    29    30    1    2    3    4    5    6     7     8    9   10    11    12    13    14    15
2              62    53    25                             53    53    25                                                      55    53    53    25    76                   53                             18    53    53    53                                  26    51              19    54    54    54    78
3            0637  0637  0724                           0637  0637  0724                                                    0637  0637  0637  0724  0748                 0637                           0724  0637  0637  0637                                0724  0817            0724  0637  0637  0637  0737
4            6:13  6:02  6:00                           6:02  6:02  6:00                                                    6:02  6:02  6:02  6:00  6:50                 6:02                           6:00  6:02  6:02  6:02                                6:00  6:00            6:00  6:02  6:02  6:02  6:57

In [ ]:
len(dflist1)

202

In [ ]:
dflist1[200]

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
0  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
1   21   22   23   24   25   26   27   28   29   30   31    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15
2   SB   SB   SB   SB   SB   SB   SB                                      SB   SB   SB   SB   SB   SB   SB                                      SB   SB   SB   SB   SB   SB   SB                                      SB   SB   SB   SB   SB   SB   SB

In [ ]:
for i in range (0,len(dflist1)):   
        
        if len(dflist1[i].index)==5:
            empty_row=pd.DataFrame({}, index=[2.5])
            dflist1[i]=pd.concat([dflist1[i].loc[:2],empty_row, dflist1[i].loc[3:]]).reset_index(drop=True)
            dflist1[i]=dflist1[i].fillna(' ')
            
        dflist1[i].rename(index={0:"Day",1:"Date",2:"trip #",3:"Destination",4:"Time",5:"# Hours"},inplace=True)

In [ ]:
dflist1[200]

         0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27
Day     Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat
Date     21   22   23   24   25   26   27   28   29   30   31    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15
trip #   SB   SB   SB   SB   SB   SB   SB                                      SB   SB   SB   SB   SB   SB   SB                                      SB   SB   SB   SB   SB   SB   SB                                      SB   SB   SB   SB   SB   SB   SB

In [ ]:
dflist1[1]

              0    1     2     3     4     5     6    7    8    9    10   11   12   13   14   15    16    17    18   19   20   21   22    23    24    25    26   27   0    1    2    3    4    5    6    7    8     9     10    11    12   13   14   15   16    17    18    19   20   21   22    23    24    25    26   27
Day          Sun  Mon   Tue   Wed   Thu   Fri   Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat  Sun  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat  Sun  Mon  Tue   Wed   Thu   Fri  Sat  Sun  Mon   Tue   Wed   Thu   Fri  Sat
Date          21   22    23    24    25    26    27   28   29   30   31    1    2    3    4    5     6     7     8    9   10   11   12    13    14    15    16   17   18   19   20   21   22   23   24   25   26    27    28    29    30    1    2    3    4     5     6     7    8    9   10    11    12    13    14   15
trip #                    4     4     4     4    31                                                  5     5     5                         5     5     5    65                                                       5     5     5     5                        49     3    65                    6     6     6     6
Destination
Time                   0613  0613  0613  0613  0827                                               0613  0613  0613                      0613  0613  0613  0706                                                    0613  0613  0613  0613                      0649  0613  0706                 0613  0613  0613  0613
# Hours                6:00  6:00  6:00  6:00  6:00                                               6:00  6:00  6:00                      6:00  6:00  6:00  6:17                                                    6:00  6:00  6:00  6:00                      6:00  6:00  6:17                 6:00  6:00  6:00  6:00